@media only screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
}

/* default styles for desktop devices */
.container {
  max-width: 960px;
  margin: 0 auto;
  /* other styles for container */
}

.video {
  width: 640px;
  height: 360px;
  /* other styles for video */
}

.widget {
  width: 300px;
  height: 250px;
  /* other styles for widget */
}

.footer {
  /* styles for footer */
}

/* media query for mobile devices */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
    /* other styles for container on mobile */
  }

  .video {
    width: 100%;
    height: auto;
    /* other styles for video on mobile */
  }

  .widget {
    width: 100%;
    height: auto;
    /* other styles for widget on mobile */
  }

  .footer {
    /* styles for footer on mobile */
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
  }  


 /* Set the width and height of the balance container to create a circle */
 .balance {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .balance {
    position: fixed;
    top: 5px;
    right: 70px;
    color: #000;
    font-size: 2rem;
    z-index: 3;
  }
  
  .balance button {
    background-color: #008CBA;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 1;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0px;
    right: -45px;
    white-space: nowrap;
    padding-left: 9px;
  }
  
  /* Bokeh effect */
  .balance::before {
    content: "";
    position: absolute;
    top: -22px;
    left: -22px;
    right: -22px;
    bottom: -22px;
    z-index: -1;
    background-image: radial-gradient(circle, #fff, #fff 1px, rgba(255, 255, 255, 0.2) 2px, transparent 3px);
    filter: blur(20px);
    transform: translateX(-50%);
    animation: sweep 6s linear infinite;
  }
  
  /* Rainbow stroke effect */
  .balance::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff) 1;
    filter: blur(10px) brightness(120%) contrast(200%) saturate(80%) sepia(10%);
    animation: rotate 5s linear infinite;
  }
  
  
  @keyframes sweep {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
    
 
.crypto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .crypto-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .crypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .crypto:hover {
    transform: scale(1.11);
  }
  
  .crypto h3 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .crypto p {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .crypto-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 480px) {
    .crypto {
      width: 150px;
      height: 150px;
    }
  }
  
  .crypto img {
    height: 100px;
  }
  
  .live-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .live-prices p {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
  }
  
  
  .crypto {
    position: relative;
  }
  
  .crypto:hover:before {
    transform: translateX(-50%) scale(1.2);
  }
  
  .crypto img {
    z-index: 1;
  }
  

element.style {
}
:root {
    --okd-icon-size-base: 18px;
    --okd-icon-size-xs: 14px;
    --okd-color-gray-050: #f9f9f9;
    --okd-color-gray-100: #ebebeb;
    --okd-color-gray-200: #dbdbdb;
    --okd-color-gray-300: #bdbdbd;
    --okd-color-gray-400: #929292;
    --okd-color-gray-500: #6e6e6e;
    --okd-color-gray-600: #545454;
    --okd-color-gray-700: #3d3d3d;
    --okd-color-gray-800: #1a1a1a;
    --okd-color-gray-900: #000;
    --okd-color-blue-050: #f5f9ff;
    --okd-color-blue-100: #d1e3ff;
    --okd-color-blue-200: #afcfff;
    --okd-color-blue-300: #8dbbff;
    --okd-color-blue-400: #6ba6ff;
    --okd-color-blue-500: #4992ff;
    --okd-color-blue-600: #277dff;
    --okd-color-blue-700: #0569ff;
    --okd-color-blue-800: #005eea;
    --okd-color-blue-900: #0051ca;
    --okd-color-green-050: #f2fff7;
    --okd-color-green-100: #d2f4de;
    --okd-color-green-200: #a5e9be;
    --okd-color-green-300: #78de9d;
    --okd-color-green-400: #4bd37d;
    --okd-color-green-500: #19cc5b;
    --okd-color-green-600: #18a04a;
    --okd-color-green-700: #127837;
    --okd-color-green-800: #0c5025;
    --okd-color-green-900: #0c5025;
    --okd-color-red-050: #fff8f9;
    --okd-color-red-100: #fcdce5;
    --okd-color-red-200: #f9b9ca;
    --okd-color-red-300: #f796b0;
    --okd-color-red-400: #f07596;
    --okd-color-red-500: #f1507b;
    --okd-color-red-600: #c14062;
    --okd-color-red-700: #91304a;
    --okd-color-red-800: #602031;
    --okd-color-red-900: #301019;
    --okd-color-orange-050: #fef9f6;
    --okd-color-orange-100: #fce3d4;
    --okd-color-orange-200: #fbceb4;
    --okd-color-orange-300: #f9b994;
    --okd-color-orange-400: #f7a474;
    --okd-color-orange-500: #f58f54;
    --okd-color-orange-600: #f6813d;
    --okd-color-orange-700: #f16514;
    --okd-color-orange-800: #e96010;
    --okd-color-orange-900: #bf4803;
    --okd-color-yellow-050: #fffcf5;
    --okd-color-yellow-100: #fff2d1;
    --okd-color-yellow-200: #ffe9af;
    --okd-color-yellow-300: #ffdf8d;
    --okd-color-yellow-400: #ffd66b;
    --okd-color-yellow-500: #ffcc49;
    --okd-color-yellow-600: #ffc327;
    --okd-color-yellow-700: #ffb905;
    --okd-color-yellow-800: #eaa900;
    --okd-color-yellow-900: #d29801;
    --okd-color-text-white: #fff;
    --okd-color-text-black: #1f2933;
    --okd-color-background-1: #fff;
    --okd-color-background-2: #f9f9f9;
    --okd-color-transparent: transparent;
    --okd-color-white: #fff;
    --okd-color-black: #000;
    --okd-color-line-muted: #ebebeb;
    --okd-color-line-secondary: #dbdbdb;
    --okd-color-line-amplifed: #bdbdbd;
    --okd-color-text-lighter: #bdbdbd;
    --okd-color-text-light: #929292;
    --okd-color-text-secondary: #3d3d3d;
    --okd-color-text-amplifed: #000;
    --okd-color-background-3: #f2f2f2;
    --okd-color-fq-blue-lv1: #0569ff;
    --okd-color-fq-green-lv1: #19cc5b;
    --okd-color-fq-red-lv1: #f1507b;
    --okd-color-fq-orange-lv1: #f16514;
    --okd-color-fq-blue-lv2: #0569ff;
    --okd-color-background-hover: #ebebeb;
    --okd-color-prefer-red-chart: #f1507b;
    --okd-color-prefer-red-bg: #eb4b6d;
    --okd-color-prefer-green-chart: #19cc5b;
    --okd-color-prefer-green-bg: #31bd65;
    --okd-color-prefer-red-text: #eb4b6d;
    --okd-color-prefer-green-text: #31bd65;
    --okd-color-branded-primary: #bcff2f;
    --okd-color-fq-critical: #f1507b;
    --okd-color-fq-warning: #f16514;
    --okd-color-fq-positive: #19cc5b;
    --okd-color-fq-neutral: #000;
    --okd-color-fq-accent: #0569ff;
    --okd-font-size-base: 16px;
    --okd-font-size-md: 14px;
    --okd-font-size-xs: 12px;
    --okd-line-height-base: 20px;
    --okd-line-height-md: 20px;
    --okd-line-height-xs: 16px;
    --okd-shadow-none: 0 0 0 0 transparent;
    --okd-shadow-xs: 0 0 0 1px #0000000d;
    --okd-shadow-sm: 0 1px 2px 0 #0000000d;
    --okd-shadow-default: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
    --okd-shadow-md: 0 4px 6px -1px #0000001a,0 2px 4px -1px #0000000f;
    --okd-shadow-lg: 0 10px 15px -3px #0000001a,0 4px 6px -2px #0000000d;
    --okd-shadow-xl: 0 20px 25px -5px #0000001a,0 10px 10px -5px #0000000a;
    --okd-shadow-2xl: 0 25px 50px -12px #00000040;
    --okd-border-radius-none: 0;
    --okd-border-radius-sm: 2px;
    --okd-border-radius-md: 4px;
    --okd-border-radius-lg: 6px;
    --okd-border-radius-xl: 8px;
    --okd-border-radius-xxl: 10px;
    --okd-border-radius-xxxl: 12px;
    --okd-font-family: HarmonyOS Sans,SF Pro Text,SF Pro Icons,Arial,Helvetica Neue,Helvetica,sans-serif;
    --okd-text-display-lg-font-size: 56px;
    --okd-text-display-lg-font-weight: 500;
    --okd-text-display-lg-line-height: 1.32;
    --okd-text-display-md-font-size: 40px;
    --okd-text-display-md-font-weight: 500;
    --okd-text-display-md-line-height: 52px;
    --okd-text-display-sm-font-size: 40px;
    --okd-text-display-sm-font-weight: 500;
    --okd-text-display-sm-line-height: 52px;
    --okd-text-heading-lg-font-size: 30px;
    --okd-text-heading-lg-font-weight: 500;
    --okd-text-heading-lg-line-height: 40px;
    --okd-text-heading-md-font-size: 24px;
    --okd-text-heading-md-font-weight: 500;
    --okd-text-heading-md-line-height: 30px;
    --okd-text-heading-sm-font-size: 18px;
    --okd-text-heading-sm-font-weight: 500;
    --okd-text-heading-sm-line-height: 24px;
    --okd-text-heading-xl-font-size: 36px;
    --okd-text-heading-xl-line-height: 1.32;
    --okd-text-heading-xl-font-weight: 600;
    --okd-text-heading-xxl-font-size: 40px;
    --okd-text-heading-xxl-line-height: 1.32;
    --okd-text-heading-xxl-font-weight: 600;
    --okd-text-heading-overline-font-size: 12px;
    --okd-text-heading-overline-line-height: 15px;
    --okd-text-heading-overline-font-weight: 500;
    --okd-text-body-sm-regular-font-size: 14px;
    --okd-text-body-sm-regular-font-weight: 400;
    --okd-text-body-sm-regular-line-height: 21px;
    --okd-text-body-sm-bold-font-size: 14px;
    --okd-text-body-sm-bold-font-weight: 500;
    --okd-text-body-sm-bold-line-height: 21px;
    --okd-text-body-md-regular-font-size: 16px;
    --okd-text-body-md-regular-font-weight: 400;
    --okd-text-body-md-regular-line-height: 24px;
    --okd-text-body-md-bold-font-size: 16px;
    --okd-text-body-md-bold-font-weight: 500;
    --okd-text-body-md-bold-line-height: 24px;
    --okd-text-body-xs-regular-font-size: 12px;
    --okd-text-body-xs-regular-font-weight: 400;
    --okd-text-body-xs-regular-line-height: 18px;
    --okd-text-body-xs-bold-font-size: 12px;
    --okd-text-body-xs-bold-font-weight: 500;
    --okd-text-body-xs-bold-line-height: 18px;
    --okd-font-weight-400: 400;
    --okd-font-weight-500: 500;
    --okd-font-weight-600: 600;
    --okd-font-weight-700: 700;
    --okd-font-weight-800: 800;
    --okd-font-weight-900: 900;
    --okd-font-weight-regular: 400;
    --okd-font-weight-medium: 500;
    --okd-font-weight-bold: 700;
    --color-red-text: #eb4b6d;
    --color-red-bg: #eb4b6d;
    --color-green-text: #31bd65;
    --color-green-bg: #31bd65;
    --color-red-text-rgb: 235,75,109;
    --color-red-bg-rgb: 235,75,109;
    --color-green-text-rgb: 49,189,101;
    --color-green-bg-rgb: 49,189,101;
    --color-up: var(--color-green-text);
    --color-down: var(--color-red-text);
    --color-up-text: var(--color-green-text);
    --color-down-text: var(--color-red-text);
    --color-up-bg: var(--color-green-bg);
    --color-down-bg: var(--color-red-bg);
    --color-up-text-rgb: var(--color-green-text-rgb);
    --color-down-text-rgb: var(--color-red-text-rgb);
    --color-up-bg-rgb: var(--color-green-bg-rgb);
    --color-down-bg-rgb: var(--color-red-bg-rgb);
}
body, html {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
    color: #000;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
a, b, body, button, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, li, ol, p, pre, select, span, strong, td, textarea, th, ul {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
* {
    font-family: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en";
    unicode-bidi: isolate;
}
user agent stylesheet
html {
    display: block;
    view-transition-name: root;
}


element.style {
}
@media (min-width: 1024px)
.first-section .first-content {
    padding-bottom: 170px;
}
@media (min-width: 768px)
.first-section .first-content {
    padding-bottom: 122px;
}
a, b, body, button, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, li, ol, p, pre, select, span, strong, td, textarea, th, ul {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
* {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: HarmonyOS Sans,PingFang SC,Microsoft Yahei,Heiti SC,WenQuanYi Micro Hei,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}
body, html {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
    color: #000;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
:root {
    --okd-icon-size-base: 18px;
    --okd-icon-size-xs: 14px;
    --okd-color-gray-050: #f9f9f9;
    --okd-color-gray-100: #ebebeb;
    --okd-color-gray-200: #dbdbdb;
    --okd-color-gray-300: #bdbdbd;
    --okd-color-gray-400: #929292;
    --okd-color-gray-500: #6e6e6e;
    --okd-color-gray-600: #545454;
    --okd-color-gray-700: #3d3d3d;
    --okd-color-gray-800: #1a1a1a;
    --okd-color-gray-900: #000;
    --okd-color-blue-050: #f5f9ff;
    --okd-color-blue-100: #d1e3ff;
    --okd-color-blue-200: #afcfff;
    --okd-color-blue-300: #8dbbff;
    --okd-color-blue-400: #6ba6ff;
    --okd-color-blue-500: #4992ff;
    --okd-color-blue-600: #277dff;
    --okd-color-blue-700: #0569ff;
    --okd-color-blue-800: #005eea;
    --okd-color-blue-900: #0051ca;
    --okd-color-green-050: #f2fff7;
    --okd-color-green-100: #d2f4de;
    --okd-color-green-200: #a5e9be;
    --okd-color-green-300: #78de9d;
    --okd-color-green-400: #4bd37d;
    --okd-color-green-500: #19cc5b;
    --okd-color-green-600: #18a04a;
    --okd-color-green-700: #127837;
    --okd-color-green-800: #0c5025;
    --okd-color-green-900: #0c5025;
    --okd-color-red-050: #fff8f9;
    --okd-color-red-100: #fcdce5;
    --okd-color-red-200: #f9b9ca;
    --okd-color-red-300: #f796b0;
    --okd-color-red-400: #f07596;
    --okd-color-red-500: #f1507b;
    --okd-color-red-600: #c14062;
    --okd-color-red-700: #91304a;
    --okd-color-red-800: #602031;
    --okd-color-red-900: #301019;
    --okd-color-orange-050: #fef9f6;
    --okd-color-orange-100: #fce3d4;
    --okd-color-orange-200: #fbceb4;
    --okd-color-orange-300: #f9b994;
    --okd-color-orange-400: #f7a474;
    --okd-color-orange-500: #f58f54;
    --okd-color-orange-600: #f6813d;
    --okd-color-orange-700: #f16514;
    --okd-color-orange-800: #e96010;
    --okd-color-orange-900: #bf4803;
    --okd-color-yellow-050: #fffcf5;
    --okd-color-yellow-100: #fff2d1;
    --okd-color-yellow-200: #ffe9af;
    --okd-color-yellow-300: #ffdf8d;
    --okd-color-yellow-400: #ffd66b;
    --okd-color-yellow-500: #ffcc49;
    --okd-color-yellow-600: #ffc327;
    --okd-color-yellow-700: #ffb905;
    --okd-color-yellow-800: #eaa900;
    --okd-color-yellow-900: #d29801;
    --okd-color-text-white: #fff;
    --okd-color-text-black: #1f2933;
    --okd-color-background-1: #fff;
    --okd-color-background-2: #f9f9f9;
    --okd-color-transparent: transparent;
    --okd-color-white: #fff;
    --okd-color-black: #000;
    --okd-color-line-muted: #ebebeb;
    --okd-color-line-secondary: #dbdbdb;
    --okd-color-line-amplifed: #bdbdbd;
    --okd-color-text-lighter: #bdbdbd;
    --okd-color-text-light: #929292;
    --okd-color-text-secondary: #3d3d3d;
    --okd-color-text-amplifed: #000;
    --okd-color-background-3: #f2f2f2;
    --okd-color-fq-blue-lv1: #0569ff;
    --okd-color-fq-green-lv1: #19cc5b;
    --okd-color-fq-red-lv1: #f1507b;
    --okd-color-fq-orange-lv1: #f16514;
    --okd-color-fq-blue-lv2: #0569ff;
    --okd-color-background-hover: #ebebeb;
    --okd-color-prefer-red-chart: #f1507b;
    --okd-color-prefer-red-bg: #eb4b6d;
    --okd-color-prefer-green-chart: #19cc5b;
    --okd-color-prefer-green-bg: #31bd65;
    --okd-color-prefer-red-text: #eb4b6d;
    --okd-color-prefer-green-text: #31bd65;
    --okd-color-branded-primary: #bcff2f;
    --okd-color-fq-critical: #f1507b;
    --okd-color-fq-warning: #f16514;
    --okd-color-fq-positive: #19cc5b;
    --okd-color-fq-neutral: #000;
    --okd-color-fq-accent: #0569ff;
    --okd-font-size-base: 16px;
    --okd-font-size-md: 14px;
    --okd-font-size-xs: 12px;
    --okd-line-height-base: 20px;
    --okd-line-height-md: 20px;
    --okd-line-height-xs: 16px;
    --okd-shadow-none: 0 0 0 0 transparent;
    --okd-shadow-xs: 0 0 0 1px #0000000d;
    --okd-shadow-sm: 0 1px 2px 0 #0000000d;
    --okd-shadow-default: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
    --okd-shadow-md: 0 4px 6px -1px #0000001a,0 2px 4px -1px #0000000f;
    --okd-shadow-lg: 0 10px 15px -3px #0000001a,0 4px 6px -2px #0000000d;
    --okd-shadow-xl: 0 20px 25px -5px #0000001a,0 10px 10px -5px #0000000a;
    --okd-shadow-2xl: 0 25px 50px -12px #00000040;
    --okd-border-radius-none: 0;
    --okd-border-radius-sm: 2px;
    --okd-border-radius-md: 4px;
    --okd-border-radius-lg: 6px;
    --okd-border-radius-xl: 8px;
    --okd-border-radius-xxl: 10px;
    --okd-border-radius-xxxl: 12px;
    --okd-font-family: HarmonyOS Sans,SF Pro Text,SF Pro Icons,Arial,Helvetica Neue,Helvetica,sans-serif;
    --okd-text-display-lg-font-size: 56px;
    --okd-text-display-lg-font-weight: 500;
    --okd-text-display-lg-line-height: 1.32;
    --okd-text-display-md-font-size: 40px;
    --okd-text-display-md-font-weight: 500;
    --okd-text-display-md-line-height: 52px;
    --okd-text-display-sm-font-size: 40px;
    --okd-text-display-sm-font-weight: 500;
    --okd-text-display-sm-line-height: 52px;
    --okd-text-heading-lg-font-size: 30px;
    --okd-text-heading-lg-font-weight: 500;
    --okd-text-heading-lg-line-height: 40px;
    --okd-text-heading-md-font-size: 24px;
    --okd-text-heading-md-font-weight: 500;
    --okd-text-heading-md-line-height: 30px;
    --okd-text-heading-sm-font-size: 18px;
    --okd-text-heading-sm-font-weight: 500;
    --okd-text-heading-sm-line-height: 24px;
    --okd-text-heading-xl-font-size: 36px;
    --okd-text-heading-xl-line-height: 1.32;
    --okd-text-heading-xl-font-weight: 600;
    --okd-text-heading-xxl-font-size: 40px;
    --okd-text-heading-xxl-line-height: 1.32;
    --okd-text-heading-xxl-font-weight: 600;
    --okd-text-heading-overline-font-size: 12px;
    --okd-text-heading-overline-line-height: 15px;
    --okd-text-heading-overline-font-weight: 500;
    --okd-text-body-sm-regular-font-size: 14px;
    --okd-text-body-sm-regular-font-weight: 400;
    --okd-text-body-sm-regular-line-height: 21px;
    --okd-text-body-sm-bold-font-size: 14px;
    --okd-text-body-sm-bold-font-weight: 500;
    --okd-text-body-sm-bold-line-height: 21px;
    --okd-text-body-md-regular-font-size: 16px;
    --okd-text-body-md-regular-font-weight: 400;
    --okd-text-body-md-regular-line-height: 24px;
    --okd-text-body-md-bold-font-size: 16px;
    --okd-text-body-md-bold-font-weight: 500;
    --okd-text-body-md-bold-line-height: 24px;
    --okd-text-body-xs-regular-font-size: 12px;
    --okd-text-body-xs-regular-font-weight: 400;
    --okd-text-body-xs-regular-line-height: 18px;
    --okd-text-body-xs-bold-font-size: 12px;
    --okd-text-body-xs-bold-font-weight: 500;
    --okd-text-body-xs-bold-line-height: 18px;
    --okd-font-weight-400: 400;
    --okd-font-weight-500: 500;
    --okd-font-weight-600: 600;
    --okd-font-weight-700: 700;
    --okd-font-weight-800: 800;
    --okd-font-weight-900: 900;
    --okd-font-weight-regular: 400;
    --okd-font-weight-medium: 500;
    --okd-font-weight-bold: 700;
    --color-red-text: #eb4b6d;
    --color-red-bg: #eb4b6d;
    --color-green-text: #31bd65;
    --color-green-bg: #31bd65;
    --color-red-text-rgb: 235,75,109;
    --color-red-bg-rgb: 235,75,109;
    --color-green-text-rgb: 49,189,101;
    --color-green-bg-rgb: 49,189,101;
    --color-up: var(--color-green-text);
    --color-down: var(--color-red-text);
    --color-up-text: var(--color-green-text);
    --color-down-text: var(--color-red-text);
    --color-up-bg: var(--color-green-bg);
    --color-down-bg: var(--color-red-bg);
    --color-up-text-rgb: var(--color-green-text-rgb);
    --color-down-text-rgb: var(--color-red-text-rgb);
    --color-up-bg-rgb: var(--color-green-bg-rgb);
    --color-down-bg-rgb: var(--color-red-bg-rgb);
}
body ::-webkit-scrollbar {
    background-color: initial;
    height: 0;
    width: 4px;
}
body ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}
body ::-webkit-scrollbar-track {
    background-color: initial;
}

element.style {
}
.ticker-container .ticker-viewer .ticker-item {
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    margin-left: 57px;
    -webkit-transition: all;
    transition: all;
}
a, b, body, button, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, li, ol, p, pre, select, span, strong, td, textarea, th, ul {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
* {
    font-family: inherit;
}
user agent stylesheet
div {
    display: block;
}
.ticker-container .ticker-viewer {
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.ticker-container {
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(100.72deg,#ff8a00,#d449f7);
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    position: absolute;
    white-space: nowrap;
    width: 100vw;
}
body {
    font-family: HarmonyOS Sans,PingFang SC,Microsoft Yahei,Heiti SC,WenQuanYi Micro Hei,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}
body, html {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
    color: #000;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
:root {
    --okd-icon-size-base: 18px;
    --okd-icon-size-xs: 14px;
    --okd-color-gray-050: #f9f9f9;
    --okd-color-gray-100: #ebebeb;
    --okd-color-gray-200: #dbdbdb;
    --okd-color-gray-300: #bdbdbd;
    --okd-color-gray-400: #929292;
    --okd-color-gray-500: #6e6e6e;
    --okd-color-gray-600: #545454;
    --okd-color-gray-700: #3d3d3d;
    --okd-color-gray-800: #1a1a1a;
    --okd-color-gray-900: #000;
    --okd-color-blue-050: #f5f9ff;
    --okd-color-blue-100: #d1e3ff;
    --okd-color-blue-200: #afcfff;
    --okd-color-blue-300: #8dbbff;
    --okd-color-blue-400: #6ba6ff;
    --okd-color-blue-500: #4992ff;
    --okd-color-blue-600: #277dff;
    --okd-color-blue-700: #0569ff;
    --okd-color-blue-800: #005eea;
    --okd-color-blue-900: #0051ca;
    --okd-color-green-050: #f2fff7;
    --okd-color-green-100: #d2f4de;
    --okd-color-green-200: #a5e9be;
    --okd-color-green-300: #78de9d;
    --okd-color-green-400: #4bd37d;
    --okd-color-green-500: #19cc5b;
    --okd-color-green-600: #18a04a;
    --okd-color-green-700: #127837;
    --okd-color-green-800: #0c5025;
    --okd-color-green-900: #0c5025;
    --okd-color-red-050: #fff8f9;
    --okd-color-red-100: #fcdce5;
    --okd-color-red-200: #f9b9ca;
    --okd-color-red-300: #f796b0;
    --okd-color-red-400: #f07596;
    --okd-color-red-500: #f1507b;
    --okd-color-red-600: #c14062;
    --okd-color-red-700: #91304a;
    --okd-color-red-800: #602031;
    --okd-color-red-900: #301019;
    --okd-color-orange-050: #fef9f6;
    --okd-color-orange-100: #fce3d4;
    --okd-color-orange-200: #fbceb4;
    --okd-color-orange-300: #f9b994;
    --okd-color-orange-400: #f7a474;
    --okd-color-orange-500: #f58f54;
    --okd-color-orange-600: #f6813d;
    --okd-color-orange-700: #f16514;
Show All Properties (139 more)
}
body ::-webkit-scrollbar {
    background-color: initial;
    height: 0;
    width: 4px;
}
body ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}
body ::-webkit-scrollbar-track {
    background-color: initial;
}

<style>
.ticker-scroll {
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
</style>

<div class="ticker-container" style="position: absolute;">
    <div class="ticker-viewer overflow-viewer">
        <div class="ticker-scroll infinite-animation-overflow delay-animation-overflow">
            <div class="ticker-item">BTC $27,084.20 (-0.20%)</div>
            <div class="ticker-item">ETH $1,714.95 (-0.05%)</div>
            <div class="ticker-item">LTC $88.98 (-0.31%)</div>
            <div class="ticker-item">DOT $5.86 (-0.17%)</div>
            <div class="ticker-item">DOGE $0.07 (+0.05%)</div>
            <div class="ticker-item">BTC $27,084.20 (-0.20%)</div>
            <div class="ticker-item">ETH $1,714.95 (-0.05%)</div>
            <div class="ticker-item">OKB $42.46 (-0.57%)</div>
            <div class="ticker-item">OKT $21.85 (-0.18%)</div>
            <div class="ticker-item">LTC $88.98 (-0.31%)</div>
            <div class="ticker-item">DOT $5.86 (-0.17%)</div>
            <div class="ticker-item">DOGE $0.07 (+0.05%)</div>
        </div>
        <div class="ticker-scroll infinite-animation-overflow delay-animation-overflow">
            <div class="ticker-item">BTC $27,084.20 (-0.20%)</div>
            <div class="ticker-item">ETH $1,714.95 (-0.05%)</div>
            <div class="ticker-item">OKB $42.46 (-0.57%)</div>
            <div class="ticker-item">OKT $21.85 (-0.18%)</div>
            <div class="ticker-item">LTC $88.98 (-0.31%)</div>
            <div class="ticker-item">DOT $5.86 (-0.17%)</div>
            <div class="ticker-item">DOGE $0.07 (+0.05%)</div>
            <div class="ticker-item">BTC $27,084.20 (-0.20%)</div>
            <div class="ticker-item">ETH $1,714.95 (-0.05%)</div>
            <div class="ticker-item">OKB $42.46 (-0.57%)</div>
            <div class="ticker-item">OKT $21.85 (-0.18%)</div>
            <div class="ticker-item">LTC $88.98 (-0.31%)</div>
display: inline-block;
        </div>
    </div>
</div>

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@GAP:15px;
@WHITE:#FBFBFB;
@BACKGROUND:#45494E;
@COLOR1:#FDA085;@COLOR1g:#F6D365;
@COLOR2:#BFF098;@COLOR2g:#6FD6FF;
@COLOR3:#EA8D8D;@COLOR3g:#A890FE;
@COLOR4:#D8B5FF;@COLOR4g:#1EAE98;
@COLOR5:#C6EA8D;@COLOR5g:#FE90AF;

*{
  box-sizing:border-box;
}

:root{
  --accent-color:@BACKGROUND;
  --gradient-color:@WHITE;
}

a:focus{
  outline:none;
  position:relative;
  &:after{
    width:50px;
  }
}

a:after{
  content:"";
  background:@WHITE;
  position:absolute;
  bottom:5px;
  left:@GAP;
  height:3px;
  width:0;
  transition:.5s;
  transition-delay:.2s;
}

body{
  background:@BACKGROUND;
  font-family:"Varela Round",Nunito,Montserrat,sans-serif;
  margin:0;padding:0;
  text-transform:capitalize;
}

.menu{
  margin:@GAP;
  > ol{
    list-style:none;
    margin:@GAP * 2 0;
    padding:0;
    
    > li{
      background:darken(@WHITE,75%);
      border-left:5px solid var(--gradient-color);
      margin-bottom:1px;
      position:relative;
      transition:.5s;
      &:nth-child(1){
        --accent-color:@COLOR1;
        --gradient-color:@COLOR1g;
      }
      &:nth-child(2){
        --accent-color:@COLOR2;
        --gradient-color:@COLOR2g;
      }
      &:nth-child(3){
        --accent-color:@COLOR3;
        --gradient-color:@COLOR3g;
      }
      &:nth-child(4){
        --accent-color:@COLOR4;
        --gradient-color:@COLOR4g;
      }
      &:nth-child(5){
        --accent-color:@COLOR5;
        --gradient-color:@COLOR5g;
      }
      a{
        color:@WHITE;
        display:block;
        padding:@GAP;
        position:relative;
        text-decoration:none;
        z-index:1;
        &:not(:last-child){
          &:before{
            content:"\f078";
            font-family:fontAwesome;
            font-size:.75em;
            line-height:50px;
            position:absolute;
            right:25px;
            top:0;
            bottom:0;
            margin:auto;
            transition:.5s;
          }
        }
      }
      &:focus,&:focus-within,&:hover{
        z-index:100;
        
        &:after{
          background:linear-gradient(to left, var(--accent-color), var(--gradient-color));
          max-width:800px;
        }
      }
      &:focus,&:focus-within{
        .sub-menu{
          max-height:500px;
        }
        a:before{
          transform:rotate(-180deg);
        }
      }
      &:after{
        background:darken(@WHITE,75%);
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition:.5s;
        max-width:0;
        overflow:hidden;
      }
    }
    .sub-menu{
      border-left:1px solid @WHITE;
      margin-left:@GAP*1.5;
      list-style:none;
      max-height:0px;
      overflow:hidden;
      padding-left:@GAP/2;
      position:relative;
      transition:.5s;
      z-index:1;
      li{
        font-size:.9em;
        &:hover,a:focus{
          background:fade(darken(@WHITE,75%),30%);
        }
        a:after{
          bottom:5px;
          height:1px;
        }
        a:hover,a:focus{
          &:after{
            width:15px;
          }
        }
      }
    }
  }
}

@media (min-width:600px){  
  a:focus,a:hover{
    position:relative;
    &:after{
      width:50px;
    }
  }
  
  a:after{
    left:0;
    right:0;
    margin:auto;
  }

  .menu{
    margin:0;
    margin-top:40vh;
  }
  .menu > ol{
    display:block;
    max-width:none;
    text-align:center;
    > li{
      border-top:5px solid var(--accent-color);
      border-left:0;
      display:inline-block;
      margin-left:-5px;
      vertical-align:top;
      width:120px;
      &:hover,&:focus,&:focus-within{
        &:after{
          background:linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
          border-radius:3px;
          top:-@GAP;
          bottom:-@GAP;
          left:-@GAP;
          right:-@GAP;
        }
        
        .sub-menu{
          max-height:750px;
        }
      }
      
      a:not(:last-child){
        &:before{
          right:12.5px;
        }
      }
      
      &:hover{
        a:before{
          transform:rotate(-180deg);
        }
      }
    }
    .sub-menu{
      border-left:0;
      margin:@GAP -@GAP -@GAP;
      padding-left:0;
    }
  }
}


@media (min-width:775px){
  .menu > ol{
    > li{
      width:150px; 
      
      a:not(:last-child){
        &:before{
          right:25px;
        }
      }
    }
  }
}

  
